// Bootstrap variables (DUL overrides).
// See /drupal-data/themes/custom/vivid/scss/_variables_bootstrap.scss

// override default bootstrap colors for accessibility
//$white: #fff !default;
//$black: #000 !default;
//$gray-700: #495057 !default;

$blue: #003CC5 !default;

//$primary:       $blue !default;
//$secondary:     $gray-600 !default;
//$success:       $green !default;
//$info:          $cyan !default;
//$warning:       $yellow !default;
//$danger:        $red !default;
//$light:         $gray-100 !default;
//$dark:          $gray-900 !default;

$primary: #00539B !default;
$secondary: #847062 !default;
$success: #339898 !default;
$info: #0577B1 !default;
$warning: #E89923 !default;
$danger: #C84E00 !default;
$light: #FCFCFC !default;
$dark: #5C5C5C !default;

//$cyan: #006170 !default;
//$pink: #e21181 !default;
//$green: #008a00 !default;

//$breadcrumb-divider-color: $gray-700 !default;
//$breadcrumb-active-color: $gray-700 !default;

//$navbar-light-color: rgba($black, .6) !default;
//$navbar-dark-color: rgba($white, .6) !default;

$form-text-margin-top: 0;
$legend-font-size: 1rem;
$table-cell-padding-x: .75rem;