// Sub theme styling.
@import 'variables_drupal';

// Bootstrap overriden variables.
// @see https://getbootstrap.com/docs/5.2/customize/sass/#variable-defaults.
@import 'variables_bootstrap';

// Include bootstrap.
@import '../../../../themes/contrib/bootstrap5/scss/style';

//Custom DUL styles
th.views-field {
  white-space: nowrap;
}

a.acct-link {
  color: $light !important;
}

.node--unpublished {
  background-color: #FDF4E8 !important;
}

ul.navbar-nav a.nav-link {
  color: $light;
}

a.nav-link.active.is-active {
  text-decoration: underline 1px;
}
