{#
/**
 * @file
 * DUL override for a views exposed form.
 * Moves "Apply" button inline with filter dropdowns (BS5 flex utility classes)
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}
<div class="form--inline d-flex align-items-end clearfix">
  {{ form }}
</div>
