{#
/**
 * @file
 * DUL override for a breadcrumb trail.
 * Changes 'home' breadcrumb link to /recommendations route
 * Adds padding above breadcrumb links
 * Customizes breadcrumb structure for node pages
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 * Custom variable:
 * - relative_path: relative path of current page
 */
#}
{% if breadcrumb %}
  <nav class="pt-1" aria-label="breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ol class="breadcrumb">
    {% for item in breadcrumb %}
      <li class="breadcrumb-item">
        {% if (item.url) and (item.url == "/") %}
          <a href="/recommendations">{{ item.text }}</a>
        {% elseif (item.text) and (item.text == "Node") and (content_type == "report_recommendation") %}
          <a href="/recommendations">Recommendations</a>
        {% elseif (item.text) and (item.text == "Node") and (content_type == "transparency_project") %}
          <a href="/projects">Projects</a>
        {% elseif (item.url) and (item.url != "/") %}
          <a href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
    </ol>
  </nav>
{% endif %}
