<div class="row">
  <div class="col-12 col-lg-1 pt-2">
    <a href="https://library.duke.edu">
      <img class="img-fluid" src="/themes/contrib/vivid_theme/images/devillogo-60pct-60_0.png" alt="Duke University Libraries">
    </a>
  </div>
  <div class="col-12 col-lg-4">
    <hr>
    <ul class="list-unstyled">
      <li><small><a href="https://library.duke.edu/sites/default/files/2023-03/DULRacialEquityRoadmap.pdf">Racial Equity Roadmap</a></small></li>
      <li><small><a href="https://library.duke.edu/about/dive-in">Diversity, Equity, and Inclusion Council (DivE-In)</a></small></li>
      <li><small><a href="https://directory.library.duke.edu/executive-group">Library Executive Group</a></small></li>
    </ul>
  </div>
</div>